.landing-container{
    font-family: Roboto;
}


.landing-container > .logo{
    width: 95px;
    position: absolute;
    left: 55px;
    top: 20px;
    cursor: pointer;
}


.landing-container > .content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
    text-align: center;
}
.landing-container > .content > .title{
    color: white;
    font-family: inherit;
    font-size: 50px;
    user-select: none;
}
.landing-container > .content > .profiles{
    text-decoration: none;
    display: flex;
}
.landing-container > .content > .profiles > .sam{
    text-decoration: none;
}
.landing-container > .content > .profiles > .sam > .profile{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 70px;
}
.landing-container > .content > .profiles > .sam > .profile:first-child{
    margin-left: 0;
}
.landing-container > .content > .profiles > .sam > .profile:last-child{
    margin-right: 0;
}
.landing-container > .content > .profiles > .sam > .profile:hover{
    cursor: pointer;
}
.landing-container > .content > .profiles > .sam > .profile:hover > .username{
    color: white;
}
.landing-container > .content > .profiles > .sam > .profile:hover > .image{
    border: 3px solid white;
}
.landing-container > .content > .profiles > .sam > .profile > .image{
    width: 140px;
    margin: 0 15px;
    border-radius: 5px;
    height: 140px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 3px solid transparent;
}

.landing-container > .content > .profiles > .sam > .profile > .username{
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 20px;
}

.landing-container > .content > .profiles > .profile{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 70px;
}
.landing-container > .content > .profiles > .profile:first-child{
    margin-left: 0;
}
.landing-container > .content > .profiles > .profile:last-child{
    margin-right: 0;
}
.landing-container > .content > .profiles > .profile:hover{
    cursor: pointer;
}
.landing-container > .content > .profiles > .profile:hover > .username{
    color: white;
}

.landing-container > .content > .profiles > .profile > [class*=" icon-"], [class^=icon-] {
    font-family: nf-icon;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    transform: translateZ(0);
}
.landing-container > .content > .profiles > .profile > .addProfile{
    align-items: center;
    color: grey;
    display: flex;
    font-size: 5vw;
    // height: 75px;
    margin-top: 5px;
    margin-bottom: 13px;
    justify-content: center;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    text-align: center;
    text-decoration: none;

    height: 10vw;
    width: 10vw;
}
.landing-container > .content > .profiles > .profile > .addProfile::before{
    content: "\e716";
}
.landing-container > .content > .profiles > .profile > .addProfile:hover{
    background-color: gainsboro;
    border-radius: 5px;
}
.landing-container > .content > .profiles > .profile > .username{
    color: rgb(100, 100, 100);
    text-align: center;
    font-size: 20px;
}